<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.anteia.anteiasdk">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AnteiaSDK">
        <activity android:name=".ui.confirmemail.PhoneActivity" />
        <activity android:name=".ui.aidetection.DetectionActivity" />
        <activity android:name=".ui.confirmemail.EmailActivity" />
        <activity android:name=".ui.termsandconditions.TermsAndConditionsActivity" />
        <activity android:name=".ui.createpassword.CreatePasswordActivity" />

        <meta-data
            android:name="anteia_sdk_document_model_name"
            android:value="model_id" />

        <activity android:name=".ui.dataentry.DataEntryActivity"
            android:windowSoftInputMode="adjustResize" />


    </application>

</manifest>